*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-image: url(img/Background.jpeg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* CABECERA*/
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: rgba(0, 120, 0, .7);
    border-radius: 20px;
    box-shadow: 0px 3px 0px #ff0000;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 30px;
    color: #fff;
    font-family: 'Times New Roman';
    text-decoration: none;
}

.menu li a:hover{
    color: greenyellow;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: rgba(0, 128, 0, 0.281);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    border-radius: 20px;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Times New Roman';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/* BOTONES*/
.button {
    background: white;
    color: green;
    display: inline-block;
    font-size: 15px;
    margin: 15px;   
    margin-top: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 150px;
    text-decoration: none;
    border-radius: 20px;
}

/* REGISTROS*/

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 120, 0, 0.5);  
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color:rgba(0, 120, 0, 0.5)
}


.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0, 120, 0, 0.5);
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: rgba(0, 120, 0, 0.5);
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    display: none;
}

/* CONTENIDO INICIO */

.main-img{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-a{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: center;
    transition: .2s;
}

.img-a:hover{
    transform: scale(0.9);
}

.img-b{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: center;
    transition: .2s;
}

.img-b:hover{
    transform: scale(0.9);
}

.img-c{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: center;
    transition: .2s;
}

.img-c:hover{
    transform: scale(0.9);
}

.img-d{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: right;
    transition: .2s;
}

.img-d:hover{
    transform: scale(0.9);
}

.img-e{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: right;
    transition: .2s;
}

.img-e:hover{
    transform: scale(0.9);
}

.img-f{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: left;
    transition: .2s;
}

.img-f:hover{
    transform: scale(0.9);
}

.img-g{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: left;
    transition: .2s;
}

.img-g:hover{
    transform: scale(0.9);
}

.img-h{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: left;
    transition: .2s;
}

.img-h:hover{
    transform: scale(0.9);
}

.img-i{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: left;
    transition: .2s;
}

.img-i:hover{
    transform: scale(0.9);
}

.img-j{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: left;
    transition: .2s;
}

.img-j:hover{
    transform: scale(0.9);
}

.img-k{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: left;
    transition: .2s;
}

.img-k:hover{
    transform: scale(0.9);
}

.img-l{
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 40px;
    float: left;
    transition: .2s;
}

.img-l:hover{
    transform: scale(0.9);
}

/* PIE DE PÁGINA*/

.line__parrafos{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0px;
}

.line__parrafos p{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.separador{
    height: 50px;
}

/* FOOTER PIE DE PAGINA*/

footer{
    width: 100%;
    padding: 50px 0px;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 200px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: beige;
    font-size: 18px;
    font-family: 'Times New Roman';
}

.box__footer h2{
    margin-bottom: 30px;
    color: beige;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
    color: greenyellow;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: white;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: forestgreen;
}


<<<<<<< HEAD




=======
h1{
    width:100%;
    border-width: double;color:greenyellow;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
audio{
    border-style: solid ; color: greenyellow;
}
>>>>>>> b2153aef37ea893c784054187c8250258e9a169d

/* NOTICIAS */

.post-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
    color: rgb(214, 30, 61);
}

.post-img-0{
    background: url(img/Img-0.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-1{
    background: url(img/Img-1.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-4{
    background: url(img/Img-4.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-2{
    background: url(img/Img-2.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3{
    background: url(img/Img-3.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-5{
    background: url(img/Img-5.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post{
    box-shadow: 0 1px 6px 1px rgba(0, 120, 0, .0);
    overflow: hidden;
    transition: .2s;
}

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 120, 0, .5);
}

.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .post-img-0
.post:hover .post-img-1
.post:hover .post-img-2
.post:hover .post-img-3
.post:hover .post-img-4
.post:hover .post-img-5{
    transform: scale(0.9);
}

.post-body{
    padding: 15px;
    text-align: center;
}

.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 20px;
}

.post.body h2{
    margin-bottom: 20px;
}

.post-body p{
    line-height: 1.5;
    margin-bottom: 50px;
    color: #fff;
}

.post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: greenyellow;
    color: black;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 120, 0, 0.5);
    transition: .2s;
}

.post-body .post-link:hover{
    background: rgb(161, 224, 12);
    box-shadow: 1px 2px 6px 1px rgba(0, 120, 0, 0.5);
    transform: translateY(-2px);
}

@media (max-width: 840px){
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* CSS DE YAMELI